<div class="user-profile">
    <div class="user-info">
        <img [src]="inputUser.img" alt="users picture" class="rounded-circle img-fluid profile-picture">
        <h2 id="user-name">{{inputUser.name}}</h2>
        <div>Email: <b>{{inputUser.email}}</b></div>
    </div>
    <div class="preferences">
        <h4>Locations</h4>
        <ul class="list">
            <li *ngFor="let location of inputUser.prefs.locs">{{location}}</li>
        </ul>
        <h4>Categories</h4>
        <form  #categorform="ngForm" (ngSubmit)="updateCategories(categorform)">
            <div class="list categories">
                <div *ngFor="let category of categories; let i = index">
                    <input class="form-check-input checkbox" type="checkbox" name = "{{category}}" id="{{category}}" [(ngModel)]="flagCategories[i]">
                    <label class="form-check-label" for="{{category}}">{{category.charAt(0).toUpperCase() + category.slice(1)}}</label>
                </div>
            </div>
            <p *ngIf="flagMessage" style="font-weight: bold; color: greenyellow;">Categories Updated!</p>
            <button  type="submit" class="update">Update</button>
        </form>
    </div>
</div>