<div class="border rounded overflow-hidden mb-3 shadow" *ngIf="inputnews.title != '' && inputnews.abstract != ''" style="height: 575px;">
    <div class="p-3">
        <h3 style="min-height: 140px;">{{inputnews.title}}</h3>
        <div class="mb-1 text-muted">{{inputnews.published_date | date:'mediumDate'}}
            <span style="font-weight: bold; float:right">{{inputnews.section.toUpperCase()}}</span>
        </div>
        <p class="mb-auto" style="min-height: 80px;">{{inputnews.abstract}}</p>
        <a href="{{inputnews.url}}" class="stretched-link" style="margin-top: 5px;"><u>Continue reading</u></a> 
    </div>
    <img src={{inputnews.multimedia[1].url}} alt="" class="img-fluid"  style="min-height: 250px; min-width: 225px;">
</div>
